<!DOCTYPE html>
<html>
    <head>
        <title>Anywhere!</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    </head>
    <body class="fade-in">
        <div id="title-container">
            <h1 class="title">Anywhere</h1>
            <div class="subtitle">Where do you want to eat?</div>
        </div>
        <div id="button-container">
            <a href="/select" class="button" id="enter-button" class="fade-in">Find out</a>
        </div>
    </body>
</html>